body {
    background: cover;
    background: url(https://images.hdqwalls.com/download/polygon-mountains-minimalist-r3-1920x1080.jpg);   
}
h1 {
    padding: 80px;
    margin: 40px;
    left: 20px;
    flex-wrap:nowrap;
    display: flex;
    display: grid;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: blueviolet;   
}
#game {
    width: 800px;
    height: 500px;
    border: 5px solid blueviolet;
    padding: auto;
    margin: auto;
    display: flex;
    display: grid;
    font-family: 'Press Start 2P', cursive;
}

#chinchilla {
    width: 210px;
    height: 190px;
    position: relative;
    margin-left: -3rem;
    bottom: -14.5rem;
    background: url(chinchilla.png);
}
.animate{
    animation: jump 900ms;
}
@keyframes jump{
    0%{top: 160px;}
    40%{top: 110px;}
    80%{top: 110px;}
    100%{top: 160px;}
}   
.block {
    width: 90px;
    height: 70px;
    position: relative;
    margin-top: 8.4rem;
    margin-left: 38.5rem;
    animation: block 3s infinite linear;
}
@keyframes block{ 
    0%{right: -9%}
    100%{right: 79%}
}
#scoreboard {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-left: 47rem;
    margin-top: 3rem;
    color: rgb(37, 175, 255);
}
.score {
    margin-left: -6rem;
}
#start{
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    border: 0;
    color: rgb(105, 181, 225);
    padding: 20px;
    margin-top: 15rem;
    flex-wrap: nowrap;
    background: url(https://images.hdqwalls.com/download/polygon-mountains-minimalist-r3-1920x1080.jpg);
}
.container{
    text-align: center; 
}
